<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hola Mundo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../node_modules/angular/angular.js"></script>
        <script src="./app.js"></script>
    </head>
    <body ng-app="appMain" ng-controller="AppController as vm">
        <form>
            <p>
                <label for="name">Nombre</label>
                <input id="name" type="text" ng-model="vm.user.name">
            </p>
             <p>
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" ng-model="vm.user.apellido">
            </p>           
            <p>
                <button ng-click="vm.borrar()">Borrar</button>
            </p>
        </form>
        <p>Hola {{vm.user.name.toUpperCase()}} {{vm.user.apellido.toUpperCase()}}</p>
    </body>
</html>