<header>
    <h1>Creación de filtros</h1>      
</header>

<div>
    <form class="form-horizontal col-md-10 col-md-offset-1"
            name="form1">
        <div class="form-group">
            <label for="texto" class="control-label col-xs-3">Escribe un texto:</label>
            <div class="col-xs-9">
                <input type="text" name="texto" id="texto"
                    class="form-control" ng-model="$ctrl.oForm.texto">
            </div>
        </div>

        <div class="form-group">
            <label for="longitud" class="control-label col-xs-3">Longitud máxima:</label>
            <div class="col-xs-2">
                <input type="number" name="longitud" id="longitud"
                    class="form-control" ng-model="$ctrl.oForm.longitud">
            </div>
        </div>
    </form>
</div>

<section>
    <h2>Resultado</h2>
    <h3>Filtro "Truncar"</h3>
    <p>{{$ctrl.oForm.texto | truncar : $ctrl.oForm.longitud}}</p>
    <h3>Filtro "Capitalizar"</h3>
    <p>{{$ctrl.oForm.texto | capitalizar}}</p>
    <h3>Filtro "Capitalizar Palabras"</h3>
    <p>{{$ctrl.oForm.texto | capitalizarPalabras}}</p>
</section>
